<html>
<%if(result.length>0){%>
<%for(let r of result){%>
<div style="border:solid 1px black">

<p>Customer id:<%=r.cid%>
<br>Customer name:<%=r.cname%>
<br>Customer phone:<%=r.cphone%>
<br>Customer address:<%=r.caddress%></p>
<br>Salesperson Allotted:<%=r.sid%></p>
</div>
<%}%>
<%}%>

<footer style =" position: absolute;" style="bottom: 0">
	<p style="font-size: 20px" >&copy; 2019 Goa Motors LLP</p>
  <p>Contact information:
  <a href="mailto:goamotors@gmail.com">
 <br> Email: goamotors@gmail.com</a>
    <br><a href="tel:6481234674">
              Mobile:+91 6481234674 </a> </p>
</footer>
</html>